.ftsm {
  height: 2rem;
  padding: 0.3rem 0.8rem;
}
.ftwm{
  width: 51px;
  max-width: 51px;
}
.align-center {
  align-self: center;
  text-align: center;
}
.align-vcenter {
  align-self: center;
}
.align-hcenter {
  text-align: center;
}
.align-right {
  align-self: right;
}
.minmax150 {
  width: 150px;
  min-width: 150px;
}

.minmax100 {
  width: 100px;
  min-width: 100px;
}

.tax {
  min-width: 110px;
}
.min100 {
  min-width: 100px;
}

.min110 {
  min-width: 110px;
}

.min150 {
  min-width: 150px;
}

.max100 {
  max-width: 100px;
}

.max150 {
  max-width: 150px;
}

.www {
  min-width: 220px;
}

.capitalize {
  text-transform: capitalize;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

.middle {
  vertical-align: middle;
}