.ftsm {
  height: 2rem;
  padding: 0.3rem 0.8rem;
}
.align-center {
  align-self: center;
  text-align: center;
}
.align-vcenter {
  align-self: center;
}
.align-hcenter {
  text-align: center;
}
.align-right {
  align-self: right;
}
.minmax150 {
  width: 150px;
  min-width: 150px;
}
.tax {
  min-width: 110px;
}
.min100 {
  min-width: 100px;
}